* {
    box-sizing: border-box;
}

html, body, #root, .App, .Memory {
    height: 100%
}

#root {
    background-color: rgb(224, 224, 224);
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Memory {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.Memory-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 600px;
    height: 600px;
    /* padding: 30px; */
    margin-top: 30px;
}

.Card {
    flex: 0 0 calc((100% / 4) - 20px);
    height: calc((100% / 3) - 20px);
    font-size: 3em;
    border: 10px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
    background-color: white;
    transition: transform 80ms ease-out;
}

.Card.hidden {
    background-color: rgb(37, 37, 37);
    color: white;
}

.Card.hidden:hover {
    transform: scale(1.1);
    box-shadow: 7px 7px 5px black;
}

.Card.picked {
    transform: scale(1.1);
    box-shadow: 7px 7px 5px black;
    cursor: default;
}

@keyframes matched {
    0% {
        transform: scale(1.1);
        opacity: 1;
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
        opacity: 0.35;
    }
}

.Card.matched {
    animation: matched 0.3s ease-in-out 1 forwards;
    cursor: default;
}

.btn {
    border: 3px solid blueviolet;
    padding: 10px 15px;
    font-size: 1.2em;
    font-weight: bold;
    color: blueviolet;
    border-radius: 50px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(217, 198, 235);
}